name: My example App
id: ms-cmd
version: 0.1.0
description: This is an example app that will be packed for AppPack
image: image.qcow2
snapshot: OnClose
readme:
  folder: readme
  index: README.md
desktop_entries:
  - entry: desktop/ms-cmd.desktop
    icon: desktop/ms-cmd.svg
    rdp_args: /app:program:cmd.exe
  - entry: desktop/plain-rdp.desktop
    icon: desktop/ms-cmd.svg
    rdp_args: /drive:home,$HOME
base_command: >-
  -enable-kvm
  -cpu host,migratable=on,hv-time=on,hv-relaxed=on,hv-vapic=on,hv-spinlocks=0x1fff
  -smp 2,cores=2,threads=1
  -m 4G
  -machine pc-q35-10.1,accel=kvm
  -rtc base=localtime,driftfix=slew
  -drive file=$IMAGE_FILE_PATH,if=virtio,format=qcow2
  -device virtio-net-pci,netdev=hostnet0
  -device virtio-balloon-pci
  -usb -device usb-tablet
  -vga virtio
install_append: >-
  -netdev user,id=hostnet0
  -display sdl,gl=on
  -drive file=installer.iso,media=cdrom
  -drive file=guest-addons.iso,media=cdrom
configure_append: >-
  -netdev user,id=hostnet0,hostfwd=tcp::$RDP_PORT-:3389,hostfwd=udp::$RDP_PORT-:3389
  -display egl-headless,gl=on
  -qmp unix:qmp-appack.sock,server=on,wait=off
configure_freerdp: >-
  /u:VmUser
  /p:VmPassword
  /cert:ignore
  +clipboard
  +auto-reconnect
  +menu-anims
  +window-drag
