[Desktop Entry]
Name=MS terminal (cmd)
Exec=$APPACK_LAUNCH_CMD
Terminal=false
Type=Application
Icon=$ICON_DIR/ms-cmd.svg
Comment=Appack example app
Categories=Utils;
StartupWMClass=ms-cmd;
